body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }

  .container__input {
    width: 30%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  label {
    color: #ffffff;
  }

  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }

  .container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 30%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    
}

.container__botoes {
  display: flex;
  gap: 2em;
  justify-content: center;
}

button:disabled {
  background-color: gray;
}

  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 350px;
  }

  .rodape {
    margin: auto;
    padding: 2.5px;
    background-color: #186be8;
    text-align: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #000000;
}
  